#container {
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/67/83/YRe3kg.png);
  min-height: 100vh;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif
}

#header {
  color:aliceblue;
  font-size: 50px;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

h3 {
  font-size: 30px
}

#drum-machine {
  display: flex;
  background-color:#546777; 
  justify-content: center;
  height: 500px  
}

#drum-pad-section {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  margin-right: 100px;
  margin-top: 20px
}

.drum-pad {
  width: 120px;
  height: 120px;
  margin: 7px 7px 7px 7px;
  border-radius: 7px;
  box-shadow: 7px 7px #353434;
  background-color:rgb(151, 148, 148)
}

#options {
  margin-top: 60px;

}

.settings {
  margin-top: 30px
}

#input {
  visibility: hidden;
  margin-bottom: 20px
}

.label {
  height: 32px;
  width: 55px;
  display: inline-block;
  position: relative;  
}

.span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 81, 248, 0.788);
  border-radius: 34px;
  transition: .4s;
}

.span::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .span {
    background-color: #9fd0f8;
  }
    
input:checked + .span::after {
    transform: translateX(-22px);
  }

 #input2 {
   visibility: hidden;
   margin-bottom: 20px;
 }

#label2 {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 55px
} 

#span2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(247, 137, 159);
  border-radius: 34px;
}

#span2::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

#input2:checked + #span2 {
  background-color: rgb(247, 26, 70);
} 

#input2:checked + #span2::before {
  transform: translateX(22px);
} 

